{% extends "base.html" %}
{% block title %}Credits{% endblock %}
{% block body %}
<div class="container">
	<div class="content-section">
		<div class="jumbotron">
			<h2><center>Credits</center></h2>
			<p>This project would not be possible without the help of some great hackers who helped to beta test this, give feedback and also helped with code enhancement. I would like to thank them here:</p>
			<ul>
				<li>1. Ibram Marzouk (@0xibram)</li>
				<li>2. Joel Margolis (@teknogeek_)</li>
				<li>3. Corben Leo    (@sxcurity)</li>
			</ul>
			<p>Following people have reported a valid security report on our platform:</p>
			<ul>
				<li>We haven't received any reports yet</li>
			<ul>
		</div>
	</div>
</div>
{% endblock %}
