{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
		{% if bool_value.result == True %}
                    <h3>Taking over {{ domain }} successful</h3>
		    <a href="http://{{ domain }}" target="_blank" class="btn btn-default btn-sm">View PoC</a>
		{% else %}
		    {{ utils.flashed_messages() }}
		    <h3>There was something wrong with the takeover</h3>
		{% endif %}
                    <hr class="intro-divider">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
